body { 
  font-family: Arial;
  background-image: repeating-linear-gradient(to right, white,bisque 5px, bisque 5px)
}

h1 {
font-size: 32pt;
text-shadow: -3px -3px 5px darkgrey;

}

p {
font-size: 20px !important;
text-align: justify ;
}

header  {
  text-align:center;
}
header p {
  text-align:center;
}
.picture {
  text-align: center
}

.picture img {
 width: 40%;
 min-width: 500px;
 max-width: 700px;
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.advertesting {
  margin-left: 20pt;
}

.footer {
  text-align: right;
  border-top: 2px dashed lightgrey;
  width: 50%;
  margin-left: 50%;
}

.last {
  font-size: 30pt;
  text-align: right;
}

.bigger {
  font-size: 20pt;
}
.sec {
  margin-left: 150pt;
}

.vid {
  width: 250;
  height: 300;
}


nav {
  float: left;
  width: 150px;
  margin: 10px 40px 10px 20px;
  padding: 10px;
  /* border: black medium double; */
  border-radius: 10px;
  box-shadow: 0px 3px 0px 5px darkgrey inset,
   0px 3px 0px 5px darkgrey;
  }
 
nav a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding-bottom: 4px;
}
nav a:link, nav a:visited {
  color: darkred;
  }

nav a:active, nav a:hover {
  color: darksalmon;
}

ol {
  list-style-type: upper-roman;
}
